@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-offWhite text-charcoal font-sans antialiased;
    overflow-x: hidden;
  }
}

/* Custom scrollbar for an elegant feel */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #E5E3E1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8A8583;
}
